*{
	margin: 0;
	padding: 0;
}
body{
    font-family:'Microsoft YaHei';
    background:#dedede;
    min-width: 750px;
}
/*头部*/
header{
    height:60px;
    background:#333;

}
header img{
    padding-left:20px;
    height:58px;
}
header h1{
    display: inline;
    position: absolute;
    top:10px;
    color: white;
    padding-left: 10px;
}
@media only screen and (max-width:600px){
    header img, header h1{
        display:none;
    }
}
header ul{
    float: right;
    position:absolute;
    top:0;
    right:10px;
}
header ul li {
    text-align: center;
	float: left;
	padding: 20px 10px;
	display: block;/*去点*/
	width: 60px;
}
header ul li a{
    text-decoration:none;
    color:white;
    font-size:12px;
}
header ul li:hover{
	border-bottom: 2px solid red;
    background: #474747;
	border-radius: 3px;
}
/*main*/
article{
	margin:30px;
	padding: 20px;
    background:white;
    margin-right: 450px;
    box-shadow: 2px 2px 2px #848484;

}
aside{
    position:fixed;
    top:60px;
    right:0px;
    width: 350px;
    margin:30px;
    padding: 20px;
    background:white;
    box-shadow: 2px 2px 2px #848484;
}
article h2{
    padding:5px 0;
}
article h3{
	padding: 10px 0;
	color:#808080;
    font-size:16px;
}
.auther, .aTime{
	padding: 20px 0;
    color:#808080;
    font-size:12px;
}
p{
	line-height: 30px;
}
article a{
    color:blue;
}
article a:hover{
    color:red;
}
article p{
    text-indent:2em;
}
article img{
    padding:15px 0;
}
article ul li{
    list-style-type:none;/*去掉列表前的点*/
}
article dl dd{
	width:120px;
    margin:15px;
    border:1px solid #ccc;
    display: inline-block;
}
article dl dd span{
    display:block;
    font-size:12px;
    text-align:center;
    margin:5px;
}
article dl dd img{
    width:110px;
    padding:5px;
}
article ol{
	margin: 10px 40px;
}
article table{
    width:100%;
    border-collapse: collapse;/*设置表格的边框被合并为一个单一的边框*/
}
article table tr th{
	color:white;
	background: #333;
}
article table tr td{
    border:1px solid #ccc;
}
article table .tablefooter{
	background: #ccc;
}
/*侧栏*/
aside h4{
    height:40px;
    line-height:40px;
    padding-left:10px;
    border-left:3px solid #ccc;
}
aside form div{
    font-size: 14px;
    margin:15px 0;
}
aside form div .side{
    float:left;           /*添加后个人描述四个字才和文本域上对齐*/
    text-align:right;
    width:35%;
    padding-right:15px;
}
aside form div p{
    margin-left:35%;
    padding-left:15px;
    font-size:12px;
    color: #aaa;
}
aside textarea{
    width:50%;
    height:100px;
}
aside .submitbutton{
    width:100%;
    height:40px;
    border-radius: 10px;
    background: #128fdc;
    color: white;
    font-size: 19px;
    border:none;
}
aside .submitbutton:hover{
    background: #ccd;
    color: #474747;
}
@media only screen and (max-width:800px){
    aside{
        /*display:none;*/
        position:static;
        margin:30px;
        width:auto;
    }
    article{
        margin-right:30px;
    }
}
/*底部*/
footer{
	width: 100%;
	height:60px;
	background:#474747;
	color: white;
	text-align: center;
	font-size: 14px;
}
footer p{
	padding: 15px 0;
}