body{
	padding:20px;
	font-family: "微软雅黑";
	font-size: 16px;
}
.main{
	background: #eee;
  	border: 1px solid #999;
  	padding:20px;
  	min-width: 600px;
  	overflow: auto;
}
.left{
	float: left;
	padding: 20px;
	width: 200px;
	background: #fff;
	border: 1px solid #999;
}
.left img{
	float: left;
}
.left div{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.right{
	width: 120px;
	background: #fff;
	float: right;
	border: 1px solid #999;
}
.plogo{
  background: #fff;
  display: block;
  margin: 20px;
  border: 1px solid #999;
}
.middle{
	padding: 20px;
  	margin-left: 260px;
  	margin-right: 140px;
  	background: #fff;
	border: 1px solid #999;
}